{% extends "layout.html" %} {% block title %}Login - Tiquirent{% endblock %} {%
block content %}
<div
  class="dashboard-head d-flex justify-content-center text-center align-items-center"
>
  <h1 data-i18n="greeting"></h1>
</div>

<section class="row">
  <div class="col-md-6">
    <div class="card justify-content-center text-center mt-3 p-5">
      <div class="d-flex justify-content-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="80"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-user pb-2"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
          <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
        </svg>
      </div>
      <h2 data-i18n="reservations"></h2>
      <h3>10</h3>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card justify-content-center text-center mt-3 p-5">
      <div class="d-flex justify-content-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100"
          height="80"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-car-garage pb-2"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 20a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
          <path d="M15 20a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
          <path
            d="M5 20h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5"
          />
          <path d="M3 6l9 -4l9 4" />
        </svg>
      </div>
      <h2 data-i18n="availablevehicles"></h2>
      <h3>35</h3>
    </div>
  </div>
</section>

{% endblock %}
