{% extends "layout.html" %}
{% block title %}Editar Perfil{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Editar tu perfil</h1>

    <div class="mb-3 text-center">
        <img id="profile-img"
             src="{% if user.ruta_imagen %}
                      http://127.0.0.1:8080/media/{{ user.ruta_imagen }}
                  {% else %}
                      {{ url_for('static', filename='images/profile/profile-pic.jpg') }}
                  {% endif %}"
             class="rounded-circle"
             width="150"
             height="150">
    </div>

    <form method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="cedula" class="form-label" data-i18n="p_id">Cédula</label>
            <input type="text" id="cedula" class="form-control" value="{{ user.cedula }}" readonly>
        </div>

        <div class="mb-3">
            <label for="nombre" class="form-label" data-i18n="p_name">Nombre</label>
            <input type="text" id="nombre" name="nombre_usuario" class="form-control" value="{{ user.nombre_usuario }}">
        </div>

        <div class="mb-3">
            <label for="correo" class="form-label" data-i18n="p_email">Correo</label>
            <input type="email" id="correo" class="form-control" value="{{ user.email }}" readonly>
        </div>

        <div class="mb-3">
            <label for="rol" class="form-label" data-i18n="p_role">Rol</label>
            <input type="text" id="rol" class="form-control" value="{{ user['rol']['nombre'] }}" readonly>
        </div>

        <div class="mb-3">
            <label for="estado" class="form-label" data-i18n="p_status">Estado</label>
            <input type="text" id="estado" class="form-control" value="{{ user['estado']['estado'] }}" readonly>
        </div>

        <div class="mb-3">
            <label class="form-label" data-i18n="p_image">Imagen de perfil</label>
            <input type="file" id="imagen" name="foto" class="form-control mt-2">
        </div>

        <div class="d-flex gap-3 justify-content-center">
            <button type="submit" class="btn btn-success" data-i18n="save">Guardar cambios</button>
            <a href="/profiles" class="btn btn-secondary" data-i18n="cancel">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
