{% extends "layout.html" %} {% block title %}Vehículos - Tiquirent{% endblock %}
{% block content %}

<div>
  <div id="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div
      class="alert alert-{{ category }} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
  </div>

  <div class="row">
    <div class="col-md-6">
      <h1>Vehículos</h1>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <button type="button" class="btn btn-success positioning-head">
        <a href="/vehicles/add" class="text-white text-decoration-none"
          >Agregar</a
        >
      </button>
    </div>
  </div>
</div>

<table class="table text-nowrap mb-0 align-middle mt-4">
  <thead class="text-dark fs-4">
    <tr>
      <th><h6 class="fs-4 fw-semibold mb-0 text-center">Imagen</h6></th>
      <th><h6 class="fs-4 fw-semibold mb-0 text-center">Marca y Modelo</h6></th>
      <th><h6 class="fs-4 fw-semibold mb-0 text-center">Placa</h6></th>
      <th><h6 class="fs-4 fw-semibold mb-0 text-center">Color</h6></th>
      <th><h6 class="fs-4 fw-semibold mb-0 text-center">Precio Diario</h6></th>
      <th><h6 class="fs-4 fw-semibold mb-0 text-center">Transmisión</h6></th>
      <th><h6 class="fs-4 fw-semibold mb-0 text-center">Acciones</h6></th>
    </tr>
  </thead>
  <tbody>
    {% for v in vehiculos %}
    <tr>
      <td class="text-center">
        <img
          src="http://127.0.0.1:8080/media/{{ v.ruta_imagen }}"
          alt="{{ v.modelo }}"
          width="200"
          height="150"
          class="rounded"
        />
      </td>
      <td class="text-center">{{ v.marca }} {{ v.modelo }}</td>
      <td class="text-center">{{ v.placa }}</td>
      <td class="text-center">{{ v.color }}</td>
      <td class="text-center">${{ "%.2f"|format(v.precio_diario) }}</td>
      <td class="text-center">{{ v.transmision }}</td>
      <td>
        <div class="dropdown dropstart text-center">
          <a
            href="javascript:void(0)"
            class="text-muted"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="ti ti-dots-vertical fs-6"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <a
                class="dropdown-item d-flex align-items-center gap-3"
                href="/vehicles/view/{{ v.id }}"
              >
                <i class="fs-4 ti ti-eye"></i>Ver detalles
              </a>
            </li>
            <li>
              <a
                class="dropdown-item d-flex align-items-center gap-3"
                href="/vehicles/edit/{{ v.id }}"
              >
                <i class="fs-4 ti ti-edit"></i>Editar
              </a>
            </li>
            <li>
              <form method="POST" action="/vehicles/delete/{{ v.id }}">
                <button
                  type="submit"
                  class="dropdown-item d-flex align-items-center gap-3 text-danger"
                >
                  <i class="fs-4 ti ti-trash"></i>Eliminar
                </button>
              </form>
            </li>
          </ul>
        </div>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="7" class="text-center">No hay vehículos registrados.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center mt-4">
    <!-- Primera página -->
    <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
      <a
        class="page-link"
        href="{{ url_for('vehicles.listar_vehiculos', page=1) }}"
      >
        <i class="ti ti-chevrons-left fs-4"></i>
      </a>
    </li>

    <!-- Página 1 siempre visible -->
    {% if current_page > 4 %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ url_for('vehicles.listar_vehiculos', page=1) }}"
        >1</a
      >
    </li>
    <li class="page-item disabled"><span class="page-link">...</span></li>
    {% endif %}

    <!-- Páginas alrededor de la actual -->
    {% for page_num in range(current_page - 2, current_page + 3) %} {% if 1 <
    page_num <= total_pages %}
    <li class="page-item {% if current_page == page_num %}active{% endif %}">
      <a
        class="page-link"
        href="{{ url_for('vehicles.listar_vehiculos', page=page_num) }}"
        >{{ page_num }}</a
      >
    </li>
    {% endif %} {% endfor %}

    <!-- Última página -->
    {% if current_page < total_pages - 3 %}
    <li class="page-item disabled"><span class="page-link">...</span></li>
    <li class="page-item">
      <a
        class="page-link"
        href="{{ url_for('vehicles.listar_vehiculos', page=total_pages) }}"
        >{{ total_pages }}</a
      >
    </li>
    {% endif %}

    <!-- Última página flecha -->
    <li
      class="page-item {% if current_page == total_pages %}disabled{% endif %}"
    >
      <a
        class="page-link"
        href="{{ url_for('vehicles.listar_vehiculos', page=total_pages) }}"
      >
        <i class="ti ti-chevrons-right fs-4"></i>
      </a>
    </li>
  </ul>
</nav>

{% block scripts %}
<script src="{{ url_for('static', filename='js/validations/vehicles/sort_vehicles.js') }}"></script>
{% endblock %} {% endblock %}
