a {
  text-decoration: none;
  color: white;
}
.password-container {
  position: relative;
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.eye-icon {
  width: 24px;
  height: 24px;
  fill: #999;
}

.eye-icon.visible .eye-slash {
  display: none;
}

.eye-icon:not(.visible) .eye-open {
  display: none;
}

#exampleInputPassword1 {
  padding-right: 40px;
}

.dashboard-head {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/background/banner.jpg");
  background-color: #cccccc;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.dashboard-head h1 {
  color: white;
}

.icon-tabler-user {
  transform: scale(2); /* Duplicará el tamaño */
}
